<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<head>
    {% block head %}
    <style>
		table, th, td {
			border: 1px solid black;
		  }
		.important { color: #336699; }
		.scorching { color: #f76900; }
	</style>
    <title>{% block title %}{% endblock %} - GamesChalice API</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <a href="https://rhw1cnyqe8.execute-api.us-east-1.amazonaws.com/api/">Back to Home</a>
        {% endblock %}
    </div>
</body>
</html>